<div>
    <div class="list-header">
        <div class="search-form"></div>
        <a href="/create">+ Add new</a>
    </div>

    <div class="list">
    @for (item of secretsStore.secrets(); track $index) {
        <div class="secret">
            <div class="slug">{{ item.slug }}</div>
            <div class="value">{{ item.value }}</div>
            <div class="controls">
                <button (click)="deleteSecret(item.id)">Delete</button>
                <button (click)="fetchAndCopy(item.id)" class="primary">Copy</button>
            </div>
        </div>
    }
    </div>

    @if (!secretsStore.secrets().length) {
        <p>No data.</p>
    }

    @if (secretsStore.loading()) {
        <div class="loading">
            Loading ...
        </div>
    }
</div>