<div>
    @if (secretsStore.loading()) {
        <span>Fetching ...</span>
    } @else {
        <a href="/create">Add new</a>
        <br/><br/>
        @for (item of secretsStore.secrets(); track $index) {
            <div class="secret">
                <label style="width: 200px;">{{ item.slug }}</label>
                <div>{{ item.value }}</div>
                <div>
                    <button (click)="deleteSecret(item.id)" class="btn-delete">Delete</button>
                    <button (click)="fetchAndCopy(item.id)" class="btn-copy">
                        Copy @if (secretsStore.loadingSecret()) {...}
                    </button>
                </div>
            </div>
        }
        @if (!secretsStore.secrets().length) {
            <p>No data.</p>
        }
    }
</div>