<div class="form-component">
    <div class="header">
        <h1>Add new secret</h1>
    </div>
    <div class="body">
        <form #form="ngForm" (submit)="update(form?.value)">
            <div>
                <label for="slug">Label</label>
                <input id="slug" name="slug" type="text" placeholder="example MY_SECRET or my secret"
                    [(ngModel)]="secret.slug">
            </div>
            <br />
            <div>
                <label for="value">Value</label>
                <textarea id="value" name="value" placeholder="My awesome secret" [(ngModel)]="secret.value">
                </textarea>
            </div>
            <br />
            <br />
            <button [disabled]="loading()" type="submit" class="primary">
                Create secret
            </button>
            <a href="/" style="margin-left: 10px;">Cancel</a>
            <div *ngIf="loading()">Adding data...</div>
        </form>
    </div>
</div>