<div class="auth-component">
    <div class="header"></div>
    <div class="body">
        <form #authForm="ngForm" (submit)="login(authForm?.value)">
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="Email address" [(ngModel)]="payload.email">
            </div>
            <br />
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password"
                    [(ngModel)]="payload.password">
            </div>
            <br />
            <br />
            <button [disabled]="loading()" label="Sign In" icon="pi pi-user" type="submit">
            </button>
            <div *ngIf="loading()">Checking data...</div>
        </form>
    </div>
</div>