button {
    cursor: pointer;
}

.secret {
    display: flex;
    margin: 0 0;
    padding: 10px 20px;
    justify-content: space-between;
    border: 1px solid #ccc;
    .btn-delete {
        color: red;
    }
    .btn-copy {
        margin-left: 20px;
    }
}
