<div class="form-component">
    <div class="header">
        <a href="/" class="logo">
            HushHush
        </a>
        <h1>Register</h1>
    </div>
    <div class="body">
        <form #authForm="ngForm" (submit)="register(authForm?.value)">
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="Email address" [(ngModel)]="payload.email">
            </div>
            <br />
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password"
                    [(ngModel)]="payload.password">
            </div>
            <br />
            <br />
            <button [disabled]="loading()" type="submit" class="primary">Register
            </button>
            <div *ngIf="loading()">Saving data...</div>
        </form>
    </div>
</div>